<!DOCTYPE HTML>
<html prefix="og: http://ogp.me/ns#">
	<head>
		<meta name="y_key" content="c2c3a5f2fc74f4be"/>
		<meta name="language" content="English"/>
		<title>B&B Carraroe House accommodation Connemara Cheathru Rua</title>
		<meta name="title" content="B&B Carraroe House accommodation Connemara Cheathrú Rua"/>
		<meta name="keywords" content="Carraroe,carraroe house, an cheathrú rua, accommodation, B&B, Bed and breakfast"/>
		<meta name="description" content="An Cheathrú Rua, Carraroe B&B accommodation in the heart of the Connemara Gaeltacht"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="google-site-verification" content="MhKaBG0USvX1aG3Z42dkdz-YVTNV4G_D_luiRdp4WAI"/>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>


		<meta property="og:title" content="B&B Carraroe House accommodation Connemara Cheathrú Rua"/>
		<meta property="og:description" content="Carraroe,carraroe house, an cheathrú rua, accommodation, B&B, Bed and breakfast"/>
		<meta property="og:url" content="http://www.carraroehouse.com"/>
		<meta property="og:site_name" content="Carraroe House B&B"/>
		<meta property="article:tag" content="Carraroe House B&B"/>
		<meta property="article:tag" content="B&B"/>
		<meta property="article:tag" content="Bed and Breakfast"/>
		<meta property="article:tag" content="an cheathrú rua"/>
		<meta property="article:tag" content="Carraroe"/>
		<meta property="article:tag" content="accomodation"/>

		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css"/>
		<!--<link rel="stylesheet" href="assets/css/tooltip.css"/>-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
		<link rel="stylesheet" href="assets/css/tooltipfol.css"/>
		<link rel="stylesheet" href="assets/css/pikaday.css">
		<link rel="stylesheet" href="assets/css/theme.css">
		<!--<link rel="stylesheet" href="assets/css/triangle.css">
		<link rel="stylesheet" href="assets/css/site.css">-->
		<!--Scripts-->
		<script src="assets/js/jquery.min.js"></script>		
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/jquery.poptrox.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script> 
		<script src="assets/js/tooltip_020616.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="assets/js/main.js"></script> 
		<script src="assets/js/jquery.validate.min.js"></script>

		<link rel="shortcut icon" href="favicon.ico"/>
		<!--Angular Translation Scripts-->
		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js'></script>
      	<script src="assets/js/appTranslate.js"></script>
      	<script src="assets/js/angular-translate-FOL.js"></script>
	</head>
	<body ng-app="myApp">
		<!-- Header -->
			<section id="header" style="padding: 0px 0px;">
				<header id="header">
					<h1 id="logo" translate="TITLE"></h1>
					<h1 id="headerArea"><!-- &nbsp;&nbsp;Carraroe House Title Name catalina jpda start<br><br>-->
					
						<br><br><br><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#booking" class="button style4" translate="label.booking"></a></span>
						
						<!--		<a href="#">Layouts</a>
								<ul>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
								</ul>
						-->
						<span class="icon fa-envelope-o"> </span>&nbsp;&nbsp; carraroehouse@gmail.com &nbsp;&nbsp;&nbsp;&nbsp;
						<span class="icon fa-phone"></span> &nbsp;&nbsp;+353 (0)91 595188 &nbsp;&nbsp;&nbsp; 
						<span class='translator' id="headerTranslator"  ng-controller="TranslateController as Ctrl">
						       <!--<button ng-click="changeLanguage('ga')" translate="lang.ga"></button>
						       <button ng-click="changeLanguage('en')" translate="lang.eng"></button>-->

						       <a class="showlang" ng-click="changeLanguage('ga')"><img src="img/ireland-flag.gif"  alt="Carraroe House B&B Accommodation"/> &nbsp;&nbsp;{{ 'lang.ga'  | translate }}</a><br>
						       <a class="showlang" ng-click="changeLanguage('en')"><img src="img/uk-flag.jpg"  alt="Carraroe House B&B Accommodation"/> &nbsp;&nbsp;{{ 'lang.eng'  | translate }}</a>
						</span>
					</h1>
					
					<div class="content">
							<div class="more">
								<div class="textbox">

                        		<!--	<div ng-controller="TranslateController as Ctrl">
								          <button ng-click="changeLanguage('ga')" translate="lang.ga"></button>
								          <button ng-click="changeLanguage('en')" translate="lang.eng"></button>
						        </div>-->
								    

								    	<P translate="{{ 'home.p1' }}" > </P>

										<H4 translate="{{ 'home.p1a.title' }}" > </H4>
								    	<P translate="{{ 'home.p1a' }}" > </P>
										<H4 translate="{{ 'home.p2.title' }}" > </H4>
										<P translate="{{ 'home.p2' }}" > </P>
										<H4 translate="{{ 'home.p3.title' }}" > </H4>
										<P translate="{{ 'home.p3' }}" > </P>
																					     
										<div id="TA_cdsscrollingravewide203" class="TA_cdsscrollingravewide">
											<ul id="62et0P" class="TA_links cBdsKisADBc5">
											<li id="z1j3Ysni" class="DicC5d">
											<a target="_blank" href="https://www.tripadvisor.ie/"><img src="https://static.tacdn.com/img2/t4b/Stacked_TA_logo.png" alt="TripAdvisor" class="widEXCIMG" id="CDSWIDEXCLOGO"/></a>
											</li>
											</ul>
										</div>
										<script src="https://www.jscache.com/wejs?wtype=cdsscrollingravewide&amp;uniq=203&amp;locationId=1862887&amp;lang=en_IE&amp;border=false&amp;shadow=false&amp;display_version=2"></script>
										</P><br> </br>
								</div>
							</div>	
				</div>			
			</header>				
			<footer>
				<a href="#room" class="button style2 scrolly">{{ 'home.titlerates' | translate}}</P></a>
			</footer>
		</section>
				
		<article id="room" class="container box style2">
				<header>
					<H2 translate="{{ 'home.titlerates' }}" > </H2>
					
					<div class="wrap">
						<div class="col1">
							<P translate="{{ 'rate.p1' }}" > </P>
						</div>
						<div class="col2">
							<div id="TA_selfserveprop399" class="TA_selfserveprop">
								<ul id="ZGVj4mdzQW" class="TA_links rYaq4nm9">
								<li id="733lQmXs" class="1RTLqDBgLn">
								<a target="_blank" href="https://www.tripadvisor.ie/"><img src="https://www.tripadvisor.ie/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
								</li>
								</ul>
							</div>
							<script src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=399&amp;locationId=1862887&amp;lang=en_IE&amp;rating=true&amp;nreviews=1&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=false&amp;border=true&amp;display_version=2"></script>
						</div>
					</div>
				</header>
				<div  class="inner gallery">
					<div class="row 0%">
						<div class="3u 12u(mobile)"><a href="img/chouse2.jpg" class="image fit"><img src="img/chouse2.jpg" alt="Carraroe House B&B Accommodation"/></a></div>
						<div class="3u 12u(mobile)"><a href="img/chouse.jpg" class="image fit"><img src="img/chouse.jpg" alt="Carraroe House B&B Accommodation"/></a></div>
						<div id="gallery" class="3u 12u(mobile)"><a href="img/rooms1.jpg" class="image fit"><img src="img/rooms1.jpg" alt="Carraroe House B&B Accommodation"/></a></div>
						<div class="3u 12u(mobile)"><a href="img/rooms2.jpg" class="image fit"><img src="img/rooms2.jpg" alt="Carraroe House B&B Accommodation"/></a></div>
					</div>
					<div class="row 0%">
						<div class="3u 12u(mobile)"><a href="img/rooms4.jpg" class="image fit"><img src="img/rooms4.jpg" alt="Carraroe House B&B Accommodation"/></a></div>
						<div class="3u 12u(mobile)"><a href="img/gairdin1.jpg" class="image fit"><img src="img/gairdin1.jpg" alt="Carraroe House B&B Accommodation"   /></a></div>
						<div class="3u 12u(mobile)"><a href="img/gairdin2.jpg" class="image fit"><img src="img/gairdin2.jpg" alt="Carraroe House B&B Accommodation"  /></a></div>
						<div class="3u 12u(mobile)"><a href="img/gairdin3.jpg" class="image fit"><img src="img/gairdin3.jpg" alt="Carraroe House B&B Accommodation"  /></a></div>
						<!--<div class="3u 12u(mobile)"><a href="img/gairdin4.jpg" class="image fit"><img src="img/gairdin4.jpg" alt="Carraroe House B&B Accommodation"  /></a></div>	-->
					</div>
					<div class="row 0%">
						<div class="3u 12u(mobile)"><a href="img/rooms3.jpg" class="image fit"><img src="img/rooms3.jpg" alt="Carraroe House B&B Accommodation"  /></a></div>
						<div class="3u 12u(mobile)"><a href="img/scenery2.jpg" class="image fit"><img src="img/scenery2.jpg" alt="Carraroe House B&B Accommodation"  /></a></div>
						<div class="3u 12u(mobile)"><a href="img/scenery4.jpg" class="image fit"><img src="img/scenery4.jpg" alt="Carraroe House B&B Accommodation"  /></a></div>
						<div class="3u 12u(mobile)"><a href="img/scenery5.jpg" class="image fit"><img src="img/scenery5.jpg" alt="Carraroe House B&B Accommodation"  /></a></div>
					</div>
					
				</div>
		</article> 
				
		<article id="local" class="container box style1 right">
				<div class="image fit">
					<iframe width="500" height="400"   src="https://maps.google.ie/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=carraroe+house&amp;aq=&amp;sll=53.262389,-9.600677&amp;sspn=0.013631,0.042272&amp;gl=ie&amp;ie=UTF8&amp;hq=carraroe+house&amp;hnear=&amp;ll=53.260746,-9.607028&amp;spn=1.739645,5.410767&amp;t=m&amp;z=8&amp;iwloc=A&amp;cid=14339381973665432612&amp;output=embed"></iframe>
					<br>
					<iframe width="580" height="360" src="img/scenery1.jpg" scrolling= "no" align="middle"  alt="Carraroe House B&B Accommodation" ></iframe>
					<br>
					<iframe width="580" height="400" src="img/map1.gif" scrolling= "no" align="middle"  alt="Carraroe House B&B Accommodation" ></iframe>	
				</div>				
				<div class="inner">
					<header>
						<header>
							<H2 translate="{{ 'home.titleli' }}" > </H2>
						</header>
							<P translate="{{ 'localinfo.p1' }}" > </P>
				</div>
			</article>
					
			<article id="places" class="container box style1 right">
				<div class="image fit">
					<iframe width="580" height="750" src="img/map2.gif" scrolling= "no" align="middle"></iframe>
				</div>
				<div class="inner">
					<header>
						<header>
							<H2 translate="{{ 'home.titleplaces' }}" > </H2>
						</header>
							<P translate="{{ 'places.p1' }}" > </P>
				</div>
			</article>
			
			<article id="booking" class="container box style3">
				<section >
					<header>
						<h3>{{ 'label.booking' | translate}}</h3>
					</header>
					<form name="bookingForm" id="bookingForm" method="post"  >
						<div class="formRow">
							<div class="labelHolder">{{ 'label.names' | translate}}: </div>
							<div class="inputHolder">
								<input class="text" type="text" id="longname" name="longname" value="" placeholder="Jane Doe"  ng-minlength="2"/>
							</div>
						</div>
						<div class="formRow">
							<div class="labelHolder">{{ 'label.email' | translate}}: </div>
							<div class="inputHolder">
								<input class="text" type="email"  id="emailAddr" name="emailAddr" value="" placeholder="Jane@doe.ie"/>
							</div>
						</div>
						<div class="formRow">
							<div class="labelHolder">{{ 'label.phone' | translate}}: </div>
							<div class="inputHolder">
								<input class="text" type="text" id="phone" name="phone" minlength="5"  value="" placeholder="{{ 'label.phone' | translate}}"/>
							</div>
						</div>
						<div class="formRow">
							<div class="labelHolder">{{ 'label.checkin' | translate}}: </div>
							<div class="inputHolder">
								<!--<input class="textbox-n" type="text"  name="checkin" placeholder="Check-in Date"/> -->
								
								<input class="textbox-n" type="text" id="checkin" name="checkin" placeholder="{{ 'label.checkin' | translate}}"/> 
							</div>
						</div>
						<div class="formRow">
							<div class="labelHolder">{{ 'label.checkout' | translate}}: </div>
							<div class="inputHolder">
								<!--<input class="textbox-n" type="text"  name="checkout" placeholder="Check-out Date"/> -->
								<input class="textbox-n" type="text" id="checkout" name="checkout" placeholder="{{ 'label.checkout' | translate}}""/>
							</div>
						</div>
						<div class="formRow">
							<div class="labelHolder">{{ 'label.roomNumber' | translate}}: </div>
							<div class="inputHolderMultiSelect">
								<select name="numrooms" id="numrooms">
										<option value="">{{ 'label.roomNumber' | translate}}</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
							</div>
						</div>
						<div class="formRow">
							<div class="labelHolder">{{ 'label.guestNumber' | translate}}: </div>
							<div class="inputHolderMultiSelect">
								<select name="numpeeps" id="numpeeps" >
										<option value="">{{ 'label.guestNumber' | translate}}</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
									</select>
							</div>
						</div>
						<div class="formRow">
								<div class="labelHolderTextArea">{{ 'label.comment' | translate}}: </div>
								<div class="inputHolderTextArea">
									<textarea name="comments" id="comments" placeholder="{{ 'label.comment' | translate}}"></textarea>
								</div>
						</div>
						<div class="formRow">
								<ul class="actions">
									<!--<li><input type="submit" value="Make Booking Request"/></li>-->
									<li><input type="submit" id="submit" name="submit" value="{{ 'label.booking' | translate}}" class='hidden'/></li>
									<li><input type="reset" id="reset" class="style3" value="{{ 'label.clear' | translate}}"/></li>
									<li><input type="reset" id="resetAfterSubmission" class="style3" value="Button Temp"/></li>
								</ul>
						</div>
					</form>
				</section>
			</article>	
						
		<section id="footer">
			<ul class="icons">
				<li>
					<span class="icon fa-envelope-o">&nbsp;&nbsp; carraroehouse@gmail.com &nbsp;&nbsp;&nbsp;&nbsp; </span>
				</li> 
				<li>
					<span class="icon fa-phone">&nbsp;&nbsp;+353 (0)91 595188 &nbsp;&nbsp;&nbsp;</span>  
				</li> 
			</ul>
		</section>
		<script src="assets/js/moments.js"></script>
		<script src="assets/js/pikaday.js"></script>
		<script>
			var pickerTheme = new Pikaday(
				{      
					field: document.getElementById('checkin'),
					//format:"YYYY-MM-DD"
					format:'DD-MM-YYYY'
				});
			
			 var pickerTheme = new Pikaday(
				{		field: document.getElementById('checkout'),
						//format:"YYYY-MM-DD"
						format:'DD-MM-YYYY'
			});
		</script>
	</body>
</html>